<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>分类</title>
    <link rel="stylesheet" type="text/css" href="css/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <script type="text/javascript" src="js/jquery-1.7.0.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/datagrid-dnd.js"></script>
</head>
<body>
<div style="margin:20px 0 10px 0;"></div>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west'" title="分类列表" style="width:25%;height: 100%;">
            <table id="cate-table"  style="width: 100%;height: 100%">
                <tr style="width: 100%;height: 100%">

                </tr>
            </table>
        </div>
        <div  data-options="region:'east'"  title="分类资源"  style="width:75%;height: 100%;">
            <div id="wu-toolbar">
                <div class="wu-toolbar-button">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-control-fastforward-blue"
                       onclick="groupLinkSubmit('#program-table')" plain="true">批量提交</a>
                </div>
            </div>
            <table id="program-table"  style="width: 100%;height: 100%" toolbar="#wu-toolbar">
                <tr style="width: 100%;height: 100%">

                </tr>
            </table>
        </div>



    </div>
<script type="text/javascript">
    var ctxPath = /*[[@{/}]]*/ '';
    function showPrograms(rowIndex, rowData){
        var mediaId = rowData.rid;
        var columns = [];
        var feild = [
            {field:'ck',checkbox:true},
            {field: 'link_rid', title: 'ID', width: 100},
            {field: 'name', title: '名称', width: 100},
            {field: 'keyword', title: '关键字', width: 150},
            {field: 'bposter', title: '海报', width: 100, align: 'center', formatter: formatImg},
            {
                field: '_op', title: '操作', width: 80, align: 'center', formatter: formatLinkSubmit
            }
        ];
        columns.push(feild);
        $('#program-table').datagrid({
            url: "getResList?prid=" + mediaId,
            columns: columns,
            loadFilter: pagerFilter,
            pagination: true,
            singleSelect: false
        });
    }


    function formatLinkSubmit(value,data,index){

        if(data.link_test_vid==data.link_prod_vid){
            return "<span style='color:mediumblue'><img style='vertical-align: middle' src='"+ctxPath+"images/submit.png'/>已提交</span>";
        }
        var  vid = data.link_vid? data.link_vid:data.vid;
        return "<a style='color:red;text-decoration: underline;' href='javascript:void(0);' onclick='submitPro(\""+data.rid+"\",\""+vid+"\")'><img style='vertical-align: middle' src='"+ctxPath+"static/img/unsubmit.png'/>提交</a>";
    }

    //加载网页时执行
    var type = '[[${type}]]';
    $(function(){
        $('#ccc').datagrid({loadFilter:pagerFilter});
        var columns = [];
        var feild = [
            {field: 'rid', title: 'ID', width: 50},
            {field: 'name', title: '分类名', width: 120},
         {field: 'bposter', title: '海报', width: 50, align: 'center', formatter: formatImg},
       {
          field: '_op', title: '操作', width: 80, align: 'center', formatter: formatSubmit
      }
        ];
        columns.push(feild);
        $("#cate-table").datagrid({
            url: 'catelistata',
            collapsible: true,
            singleSelect: true,
            method: 'get',
            onClickRow:showPrograms,
            pageSize: 20,
            columns: columns,
            rowStyler: function (index, row) {
                return "backgroud:red";
            },
            queryParams: {
                type:type
            },
            onLoadSuccess:function(){
                console.log( $(this));
                $(this).datagrid('enableDnd');
            },//行放下之后
            onDrop:function(targetRow,sourceRow,point){
                var has = $("#cate-table").datagrid('getRows');
                var items = [];
                //循环获取拖放位置
                $.each(has,function(index,ele){
                    var obj = {};
                    obj.sort = index+1;
                    obj.vid = this.vid;
                    items.push(obj);
                });
                var cates = JSON.stringify(items);
                $.ajax({
                    url:'updateCateSort',
                    type:"post",
                    data:{
                        catesStr:cates,
                    },
                    success:function(re){
                        if(re.success){
                        }else{
                            $.messager.alert("消息提示",re.msg);
                            $("#layout-table").datagrid('reload');
                        }
                    }
                });
            }
        });


    })
</script>

</body>
</html>