<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>运营管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <script type="text/javascript" src="js/jquery-1.7.0.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
</head>

<body>
<h2>主页</h2>
<p>后台管理</p>
<div style="margin:20px 0;"></div>
<div class="easyui-layout" style="width:100%;height:750px;">
    <div data-options="region:'north'" style="height:50px"></div>
    <div data-options="region:'south',split:true" style="height:50px;"></div>
    <div data-options="region:'east',split:true" title="East" style="width:180px;">
        <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true,dnd:true"></ul>
    </div>
    <div data-options="region:'west',split:true" title="导航栏" style="width:15%;padding:10px">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div th:each="prod : ${privileges}" th:title="${prod.name}" data-options="iconCls:'${prod.icon}'" style="padding:5px;" th:class="|prod${prod.url}|">
                <ul th:class="|wu-side-tree ${prod.url}tree|">
                    <li th:each="c : ${prod.childs}" th:iconCls="${c.icon}"><a href="javascript:void(0)" data-th-data-icon="${c.icon}" data-th-data-link="${c.url}" iframe="0" th:text="${c.name}"></a></li>
                </ul>
            </div>

        </div>
    </div>
    <div data-options="region:'center',title:'内容区',iconCls:'icon-ok'">
        <!-- 主体 -->
        <div  id="mainbody" class="easyui-tabs" data-options="fit:true,border:false,plain:true">
            <div title="首页" style="padding:5px">
                <table class="easyui-datagrid"
                       data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
                    <thead>
                    <tr>
                        <th data-options="field:'itemid'" width="80">Item ID</th>
                        <th data-options="field:'productid'" width="100">Product ID</th>
                        <th data-options="field:'listprice',align:'right'" width="80">List Price</th>
                        <th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
                        <th data-options="field:'attr1'" width="150">Attribute</th>
                        <th data-options="field:'status',align:'center'" width="50">Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(function(){
        $(".wu-side-tree").tree({
            onClick:function (node) {
                var title =  $(node.text).text();
                var url =  $(node.text).attr("data-link");
                console.log(title);
                console.log(url);
                addTab(title,url);
            }
        });

        $(".layouttree").tree({
        onClick:function (node) {
            var type = node.data.child_type;
            var regular = node.data.layout_regular;
            var parent = $(".layouttree").tree('getParent',node.target);
            if(parent){
                addTab(parent.text+"-"+node.text,"layout?type="+node.data.child_type+"&layoutId="+node.data.rid+"&layout="+node.data.layout_regular);
            }
        }
        });
    })

    function addTab(title, url){
        if ($('#mainbody').tabs('exists', title)){
            console.log($('#mainbody'));
            console.log($('#mainbody').tabs);
            $('#mainbody').tabs('select', title);
        } else {
            console.log(url);
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
            $('#mainbody').tabs('add',{
                title:title,
                content:content,
                closable:true
            });
        }
    }
</script>
</body>
</html>