<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.web.dao.IptvUserDao" >

	<insert id="insert" parameterType="com.sun.web.domain.IptvUser">
		INSERT INTO iptv_user(user_id,mac,create_time,test)values(#{user_id},#{mac},now(),#{test})
	</insert>
	
	<insert id="ignoreInsertWhenExist" parameterType="com.sun.web.domain.IptvUser">
		INSERT IGNORE INTO iptv_user(user_id,mac,create_time,test)values(#{user_id},#{mac},now(),#{test})
	</insert>
	
	<select id="findById" resultType="com.sun.web.domain.IptvUser">
		SELECT * FROM iptv_user u WHERE id=#{id}
	</select>
	
	<select id="countUserByDate" resultType="int">
		SELECT COUNT(1) FROM iptv_user WHERE LEFT(create_time,10)=#{date}
	</select>
	
	<update id="update" parameterType="com.sun.web.domain.IptvUser">
        UPDATE iptv_user SET phone_num = #{phone_num} WHERE user_id = #{user_id}
	</update>
	
	<select id="findByUserId" resultType="com.sun.web.domain.IptvUser">
		SELECT * FROM iptv_user u WHERE u.user_id = #{user_id} and test = #{test}
	</select>
</mapper>